<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h3>Sobre</h3>
        <p>
          A <strong>central gruponews</strong> é uma plataforma para gerenciar eventos e pessoas que fazem parte de uma rede de grupos cristão de comunhão
        </p>
      </div>
      <!--col-->
      <div class="col-md-4 col-sm-6">
        <h3>Próximos eventos</h3>
        <ul class="list-unstyled footer-events">
          <li itemscope itemtype="http://schema.org/Event">
            <a href="#" itemprop="url"><h4 itemprop="name">Evento teste #1</h4><span class="kicker" itemprop="startDate">10 e 11.jun.2017</span></a>
          </li>
          <li itemscope itemtype="http://schema.org/Event">
            <a href="#" itemprop="url"><h4 itemprop="name">Evento teste #1</h4><span class="kicker" itemprop="startDate">10 e 11.jun.2017</span></a>
          </li>
          <li>
            <a href="#">Outros eventos</a>
          </li>
        </ul>
      </div>
      <!--col-->
      <div class="col-md-4 col-sm-6">
        <h3>Fale conosco</h3>
        <address class="find-us" itemscope itemtype="http://schema.org/Organization">
          <p>
            <strong itemprop="name">GrupoNews</strong>
            <br>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">Rua Padre Donizette Tavares de Lima, 146</span>
              <br>
              <span itemprop="addressLocality">Barueri</span>, <span itemprop="addressRegion">SP</span>
              <br>
              <a href="" itemprop="email">escritorio@gruponews.com.br</a>
              <br>
              <span itemprop="telephone">(11) 4198-4616</span>
            </div>
          </p>
        </address>
      </div>
      <!--col-->
    </div>
    <!--row-->
    <div class="footer-bottom row small">
      <div class="col-sm-8">
        <ul class="links">
          <li class="d-inline">
            <a href="https://www.facebook.com/gruponews" class="social-icon si-colored-facebook">
                      <i class="fa fa-facebook"></i>
                  </a>
          </li>
          <li class="d-inline">
            <a href="https://twitter.com/gruponews" class="social-icon si-colored-twitter">
                      <i class="fa fa-twitter"></i>
                  </a>
          </li>
          <li class="d-inline">
            <a href="https://plus.google.com/+GruponewsBr" class="social-icon si-colored-google-plus">
                      <i class="fa fa-google-plus"></i>
                  </a>
          </li>
          <li class="d-inline">
            <a href="/politica-privacidade">Política de privacidade</a>
          </li>
          <li class="d-inline">
            <a href="/termos-de-uso">Termos de Uso</a>
          </li>
          <li class="d-inline">
            <a href="/ajuda">Ajuda</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 text-right">
        <p>Copyright &copy; 2017. Todos os direitos reservados</p>
      </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
