<header class="navbar navbar-toggleable-md navbar-main navbar-light" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ "/" | relative_url }}">
                <img src="{{ "/assets/images/logo-gruponews.svg" | relative_url }}" alt="GrupoNews">
      </a>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% include menu.html %}
</header><!--navbar-default-->
