<div class="navbar-collapse collapse" id="mainNavbar">
  <ul class="nav navbar-nav navbar-left">
    <li class="">
      <a href="/">Home</a>
    </li>
    <li class="">
      <a href="{{ "/quem-somos.html" | relative_url }}">Quem somos</a>
    </li>
    <li class="">
      <a href="/">Artigos</a>
    </li>
    <li class="">
      <a href="/">Publicações</a>
    </li>
    <li class="">
      <a href="/">Áudio e vídeo</a>
    </li>
    <li class="">
      <a href="{{ "/eventos/" | relative_url }}">Eventos</a>
    </li>
    <li class="">
      <a href="/contato.html">Contato</a>
    </li>
  </ul>
  <hr class="hidden-md hidden-lg hidden-sm" />
  <ul class="nav navbar-nav navbar-right">
    <li class="">
      <a href="/ajuda">Ajuda</a>
    </li>
  </ul>
</div>
<!--/.nav-collapse -->
