/************************************************* css for footers****************************************/

#footer {
	background: rgb(236, 236, 236);
	border-top: solid 1px rgb(216, 216, 217);
	padding-left: 1rem;
	padding-right: 1rem;
	display: table;
	width: 100%;
	.footer-events {
		span {
			font-size: small;
		}
		h4 {
			margin-bottom: 0;
		}
	}
	.links {
		padding: 0;
		margin: 0;
		li {
			margin-right: 1em;
		}
	}
	.footer-bottom {
		margin-top: 2em;
		padding: 1em 0;
		border-top: 1px solid rgb(203, 203, 203);
		color: $gray-light;
		a {
			color: $gray-light;
		}
	}
}
